flows/Test_Opp-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>city_1</name>
        <dataType>String</dataType>
        <expression>{!City}</expression>
    </formulas>
    <formulas>
        <name>update</name>
        <dataType>String</dataType>
        <expression>{!City}</expression>
    </formulas>
    <interviewLabel>Test_Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test_Opp</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>record_reat</name>
        <label>record reat</label>
        <locationX>311</locationX>
        <locationY>60</locationY>
        <assignRecordIdToReference>text</assignRecordIdToReference>
        <faultConnector>
            <targetReference>creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>city_1</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordUpdates>
        <name>jcvb_k_kl</name>
        <label>/cvb.k.kl</label>
        <locationX>324</locationX>
        <locationY>282</locationY>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Three</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <screens>
        <name>creation</name>
        <label>creation</label>
        <locationX>482</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>jcvb_k_kl</targetReference>
        </connector>
        <fields>
            <name>updatedcity</name>
            <dataType>String</dataType>
            <fieldText>city</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Opp</name>
        <label>Test Opp</label>
        <locationX>90</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>record_reat</targetReference>
        </connector>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Test_Opp</startElementReference>
    <variables>
        <name>text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
</Flow>
